body{
	margin: 0;
	padding: 0;
	font-family: Roboto;
}
.menu {
	position: absolute;
	top: 0px;
	background-color: #59cbac;
	width: 400px;
	height: 657px;
}
.menu ul li{
	list-style: none;
	display: inline-flex;
	margin-right: 2px;
}
.logo img{
	width: 45px;
	position: absolute;
	margin-top: 8px;
	margin-left: 75px;
	top: 30px;
}
.active{
	color: #fff;
	position: absolute;
	font-size: 20px;
	font-weight: bold;
	top: 53px;
	left: 46px;
	position: absolute;
}
.edu h1{
	color: #fff;
	position: absolute;
	top: 130px;
	left: 130px;
}
.edu h2{
	color: #fffdfd;
	position: absolute;
	top: 195px;
	left: 65.5px;
}
.gambar img{
	position: absolute;
	top: 270px;
	left: 112px;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}
.gambar h3{
	color: #e8e4e4;
	position: absolute;
	top: 428px;
	left: 122px;
	font-weight: normal;
}
.con{
	position: absolute;
	top: 493px;
	left: 57px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 30px;
	background-image: linear-gradient(#59cbac, #59cbac);
	width: 260px;
	height: 50px;
	background-origin: border-box;
	cursor: pointer;
}
.con1 span{
	color: #fff;
	width: 260px;
	position: absolute;
	top: 17px;
	left: 47px;
	font-size: 15px;
}
.con2{
	position: absolute;
	top: 0px;
	left: 210px;
	border: 1px solid transparent;
	border-radius: 50%;
	background-image: linear-gradient(#fff, #fff);
	width: 50px;
	height: 50px;
	background-origin: border-box;
	cursor: pointer;
}
.con2 img{
	position: absolute;
	top: 8px;
	left:10px;
	width: 35px;
}
.text h1{
	font-weight: bold;
	font-size: 35px;
	color: #59cbac;
	width: 350px;
	position: absolute;
	top: 120px;
	left: 807px;
}
.form_name{
	font-size: 15px;
	color: #6b6767;
	position: absolute;
	border: 1px solid transparent;
	top: 276px;
	left: 868px;
}
.add hr {
	position: absolute;
	top: 308px;
	left: 790px;
	opacity: 0.7;
}
.form_pass{
	font-size: 15px;
	color: #6b6767;
	border: 1px solid transparent;
	position: absolute;
	top: 364px;
	left: 885px;
}
.pass hr {
	position: absolute;
	top: 393px;
	left: 790px;
	opacity: 0.7;
}
.con4{
	position: absolute;
	top: 433px;
	left: 785px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 30px;
	background-image: linear-gradient(#59cbac, #59cbac);
	width: 300px;
	height: 50px;
	background-origin: border-box;
	cursor: pointer;
}
.con4 h3{
	width: 260px;
	position: absolute;
	top: 1px;
	left: 135px;
	font-size: 15px;
}
.con5{
	position: absolute;
	top: 434px;
	left: 1040px;
	border: 1px solid transparent;
	border-radius: 50%;
	background-image: linear-gradient(#59cbac,#59cbac);
	width: 50px;
	height: 48px;
	background-origin: border-box;
	cursor: pointer;
}
.con5 img{
	position: absolute;
	top: 16.5px;
	left: 18px;
	width: 16px;
}
.con6{
	position: absolute;
	top: 503px;
	left: 785px;
	color: #fff;
	border: 1px solid #aaa;
	border-radius: 30px;
	background-image: linear-gradient(#fff, #fff);
	width: 310px;
	height: 47px;
	background-origin: border-box;
	cursor: pointer;
}
.con7 h3{
	color: #59cbac;
	width: 260px;
	position: absolute;
	top: 1px;
	left: 101px;
	font-size: 15px;
}
.con8{
	position: absolute;
	top: 0px;
	left: 260px;
	border: 1px solid transparent;
	border-radius: 50%;
	background-image: linear-gradient(#59cbac, #59cbac);
	width: 50px;
	height: 46px;
	background-origin: border-box;
	cursor: pointer;
}
.con8 img{
	position: absolute;
	top: 15px;
	left: 18px;
	width: 16px;
}

















